mkdocs>=1.5
mkdocs-material>=9.4
pymdown-extensions>=9.0
mkdocs-git-revision-date-localized-plugin>=1.0
mkdocs-redirects>=1.0.1
Markdown>=3.3,<3.5
PyYAML>=5.4
Pygments>=2.12
babel>=2.9.0
ghp-import>=1.0
